// SIZE
$icon-size: 30px;
$stepline-closed-height: 50px;
$stepline-open-height: auto;

// FONT
$title-font-size: 0.6rem;
$icon-font-size: 0.75rem;
// COLOR
$text-color: white;
$container-color: #1e1e2f;
$active-color: #3ca574;
